{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if fotografia.foto == "" or fotografia.foto == null %}
                            <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="not-found">
                        {% else %}
                            <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="fotografia" title="{{ fotografia.nome }}">
                        {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{fotografia.nome}}</p>
                                <p class="imagem__descricao">{{fotografia.legenda}}</p>
                                {% if fotografia.descricao %}
                                    <p class="imagem__texto">{{fotografia.descricao}}</p>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
    

{% endblock %}